<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ODExplorerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3900E6218118102007BCE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3900E8B18118102007BCE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3900ECF18153D5F007BCE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3900EDC18153E04007BCE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3900EEB18153E46007BCE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3900F0A18153E47007BCE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
